<h1>
    my blog
    </h1>

    <% @blog_posts.each do |blog_post| %>
        <h2><%= link_to blog_post.title, blog_post_path(blog_post.id) %></h2>
        <p><%= blog_post.body %></p>
    <% end %>

<%= link_to "new", new_blog_post_path %>
